mat-card {
  max-width: 600px;
  margin: 5%  auto;
  text-align: center;
}

mat-form-field {
  display: block;
  margin: auto;
}

.full-width-input {
  font-size: 20px;
  width: 80%;
}

button {
  margin: 20px;
  width: 80%;
}

mat-card-title {
  margin-top: 10%;
}
