<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a home icon" (click)="home()">
      <mat-icon>home</mat-icon>
    </button>

    <span>Food Market</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-end">
        <li *ngIf="user == null">
          <button mat-button (click)="login()">Sign in</button>
        </li>
        <li *ngIf="user != null">
          Hello, {{user.name}}!
        </li>
        <li>
          <button mat-raised-button color="warn" (click)="signup()">Sign Up</button>
        </li>
        <li *ngIf="user != null">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="signOut()">
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
            <button mat-menu-item (click)="profile()">
              <mat-icon>account_circle</mat-icon>
              My profile
            </button>
            <button mat-menu-item (click)="changePassword()">
              <mat-icon>vpn_key</mat-icon>
              Change Password
            </button>
          </mat-menu>
        </li>
      </ul>

    </div>

  </mat-toolbar-row>

</mat-toolbar>
