.container {
  max-width: 600px;
  margin: 10%  auto;
  text-align: center;
}

mat-form-field {
  display: block;
  margin: auto;
}

.full-width-input {
  font-size: 20px;
}

button {
  margin: 20px;

}

mat-card-title {
  margin-top: 10%;
}

.title {
  margin-bottom: 50px;
}
