<mat-card>
  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <h2>{{user.username}}</h2>
      <mat-form-field class="full-width-input">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          ngModel
          name="oldPassword"
          placeholder="Old password"
          required>
        <button mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          ngModel
          name="newPassword"
          placeholder="New password"
          required>
        <button mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          ngModel
          name="confirmNewPassword"
          placeholder="Confirm new password"
          required>
        <button mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="diff">
          Two passwords should be same
        </mat-error>
      </mat-form-field>
      <button [disabled]="!f.valid" mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>

