mat-card {
  max-width: 400px;
  margin: 10% auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.full-width-input {
  font-size: 20px;
}

button {
  margin-top: 20px;
}

.forget {
  text-align: right;
}

